* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;

  background-image: url("../images/background-image.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
}

p,
h1 {
  margin: 0;
}